h1{
    color:white;
}

.books-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 150px;
    row-gap: 200px;
    color: white;
}

.content::after{
    content: '';
    display: block;
    border-bottom: 1px solid var(--color-stroke-tertiary,#C7C7C7);
    margin-top: 1rem;
    margin-bottom: 1rem;
    clear: both;
    grid-column: 1/-1;
}


@media only screen and (min-device-width:250px) and (max-device-width: 960px) {
    .books-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        column-gap: 150px;
        row-gap: 100px;
    }
}